
<div class="cds-calendar-view container-fluid">
	<div class="row">
		<h1>CDS Calendar </h1>
		<h3>Projet en cours de traitement : {{IWorkingOn}}</h3>
	</div>
	<div class="row">
		<div class="day col-md-2" ng-repeat="day in week">
			<h3>{{day.name}}</h3>
			<span class="total-hour">{{day.timeSpent | friendlyHour}}</span>
			<div class="task" style="height:230px;" ng-repeat="task in day.tasks" ng-class="task.project.color">
				<h4>{{task.project.title}}</h4>
					<span class="glyphicon glyphicon-time"></span>
					<span class="hour">{{task.duration | passedTime:day.timeSpent}}</span>
				<span class="hour"><span class="glyphicon glyphicon glyphicon-euro"></span>
					<input class="edit-hour" type="text"
							ng-show="editing"
							autofocus="editing"
							ng-value="task.duration | passedTime"
							ng-blur="updateTaskTime(task, day, $event.target.value); editing = false;" />
				<span class="hour"  ng-hide="editing" ng-click="editing = true">{{task.duration | invoicedTime}}</span>
				<p><input class="red" type="text"></input></p>
			</div>
		</div>
	</div>
</div>